# Compiled class files
*.class
target/
build/

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE files
.idea/
*.iml
*.iws
.vscode/
.DS_Store

# Environment variables - IMPORTANT !
.env
.env.local
.env.*.local

# Maven
.mvn/
mvnw
mvnw.cmd

# Application temporary files
/temp/
/tmp/

